body {
  background: rgb(241,241,233);
  background: linear-gradient(90deg, rgba(241,241,233,1) 11%, rgba(223,223,203,1) 50%, rgba(221,223,183,1) 89%);
}

.header {
  text-align: center;
  text-transform: uppercase;
}
#container {
  background: rgb(40,42,2);
  background: linear-gradient(90deg, rgba(40,42,2,1) 11%, rgba(10,10,0,1) 50%, rgba(40,42,2,1) 89%);
  width: 800px;
  height: 400px;
  margin: 0;
  padding: 30px;
  z-index: 0;
  margin: 30px auto;
}

#table {
  background: rgb(11,85,10);
  background: linear-gradient(90deg, rgba(11,85,10,1) 36%, rgba(12,83,6,1) 50%, rgba(16,71,2,1) 64%);
  width: 600px;
  height: 300px;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 1;
  border: 10px solid rgb(226, 186, 19);
  border-radius: 10px;
}

.player {
  position: absolute;
  background: black;
  border: 2px solid yellow;
  width: 150px;
  height: 80px;
  z-index: 2;
  text-align: center;
  letter-spacing: 1.1px;
}

#playerOne {
  margin-left: -50px;
  margin-top: 110px;
}

#playerTwo {
  margin-left: 500px;
  margin-top: 110px;
}

#boardWrite {
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
  z-index: 2;
}

.write {
  color: rgba(227, 215, 10, 0.7);
}
.box {
  color: #fff;
  font-size: 16px;
}
