* {
  transition: box-shadow 500ms ease, transform 180ms ease;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
.at-bat {
  box-sizing: border-box;
  animation-name: pulse;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes pulse {
  50% {
    box-shadow: 0px 0px 24px 3px yellow;
    color: yellow;
  }
}
#turn-orb {
  position:absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 84px 32px yellow;
  transform-origin: center;
  z-index:12;
  transform: translateY(0%);
  animation-name: bob-up;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: linear;
  display:none;
}
@keyframes bob-up {
  /* 25% {
    top: 25%
  } */
  50% {
    transform: translateY(-108px)
  }
  /* 75% {
    top: 25%
  } */
}
@keyframes bob-down {
  /* 25% {
    top: 50%
  } */
  50% {
    transform: translateY(96px)
  }
  /* 75% {
    top: 50%
  } */
}
.player-name {
  margin-top:5%;
  margin-bottom:5%;
}
.enterName {
  padding-left:1%;
}
.player-bet {
  font-family: 'Bevan', cursive;
  margin-top: 0;
}
.player-bank {
  font-family: 'Bevan', cursive;
  font-size: 1.3rem;
  margin-top:0;
}
#pot {
  text-align: center;
  width:10%;
  left: 0;
  font-size: 0.8rem !important;
  color: #F1D804;
  margin-left:45%;
  margin-top:1.5%;
  line-height: 1.2rem;
  animation-name: bounce;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
#pot-amount {
  text-shadow: 1px 1px 2px black;
  margin-top: 5%;
  font-size: 2rem !important;
  animation-name: bounce;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  /* transform: scale(1) */
}
.bouncing {
  animation-play-state: running;
}
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
#player-1-bet, #player-2-bet, #pot-amount {
  font-size: 1.2rem;
}
.playing-card {
  box-sizing: border-box;
  opacity: 0;
  box-shadow: 0px 0px 3px rgb(49, 49, 49);
  /* border-radius: 8%; */
  transform-origin: center bottom;
  z-index: 12;
}
body {
  background: rgb(241,241,233);
  background: linear-gradient(90deg, rgba(241,241,233,1) 11%, rgba(223,223,203,1) 50%, rgba(221,223,183,1) 89%);
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  display:none;
  overflow:hidden;
}

.header {
  text-align: center;
  text-transform: uppercase;
  background: rgb(153,153,153);
  background: linear-gradient(180deg, rgba(153,153,153,1) 25%, rgba(183,183,183,1) 50%, rgba(153,153,153,1) 75%);
  height: 20px;
  margin: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  padding: 8px;
  font-family: 'Bevan', cursive;
  color: rgb(72, 72, 72);
  font-size: 16px;
  z-index: 1;
}

.sign-in {
  margin: 0 auto;
  padding-top: 40px;
  background: rgb(163,153,153);
  background: linear-gradient(202deg, rgba(163,153,153,1) 11%, rgba(56,55,55,1) 54%, rgba(38,37,37,1) 88%);
  width: 500px;
  height: 200px;
  border: 2px solid yellow;
  color: #fff;
  text-align: center;
}

.nameDiv {
  padding-top: 3px;
}

.enterName {
  width: 180px;
}
#name-btn {
  text-align: center;
  margin-top: 10px;
}

#container, #table {
  box-sizing: border-box;
}

#container {
  background: rgb(7,10,88);
  background: linear-gradient(90deg, rgba(7,10,88,0.8090423669467788) 6%, rgba(25,37,170,0.7418154761904762) 19%, rgba(7,10,88,0.8146446078431373) 41%);
  width: 100%;
  /* height: 800px; */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  padding-top: 80px;
}
#table {
  position: relative;
  background: rgb(12,88,7);
  background: linear-gradient(90deg, rgba(12,88,7,1) 25%, rgba(39,154,19,1) 50%, rgba(12,88,7,1) 75%);
  margin: 0 auto;
  left: 0;
  border: 10px solid #F1D804;;
  /* border-radius: 40px; */
  border-radius: 90px;
  width: 980px;
  height: 500px;
  z-index: 0;
  transition: all 500ms ease;
  display: none;
}
.off-to-right {
  left: 100vw !important;
}
#top-message {
  position: absolute;
  margin-top: 1.5%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #F1D804;
  letter-spacing: 2.1px;
  font-family: 'Sawarabi Mincho', sans-serif;
  animation-name: throb;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-play-state: paused;
  display:none;
}
.space-flip {
  transform: scale(0.75)
}
.space-flip:after {
  content: "HOLD SPACE TO REVEAL CARDS";
}
.space-next {
  transform: scale(1);
}
.space-next:after {
  content: "PRESS SPACE FOR NEXT HAND";
}
#thinking-message {
  margin-left:auto;
  margin-right:auto;
  color: white;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 1.1rem;
  display:none;
}
.dimmed {
  opacity: 0.3 !important;
}
.status-label {
  color:rgb(22, 102, 16);
  font-weight: bold;
  font-family: 'Bevan', cursive;
  text-shadow: 1px 1px 3px black;
  z-index:10;
  font-size: 1rem;
  opacity: 0;
  transition: all 200ms ease;
}
.status-label:after {
  content: "Dealer" !important;
}
.winner-label, .fold-label {
  color:white;
  font-family: 'Bevan', cursive;
  font-weight: normal;
  text-shadow: 1px 1px 3px black;
  z-index:10;
  font-size: 1rem;
}
.winner-label:after {
  content: "WINNER" !important;
}
.fold-label:after {
  content: "FOLD"
}
.retracted {
  transform: scaleY(0.5) !important;
}
.protruding {
  transform: translateY(-75%) !important;
}
#cards {
  width: 960px;
  height: 100px;
  margin-top: 160px;
}
.player-action {
  position: absolute;
  color:white;
  font-family: 'Bevan', cursive;
  font-weight: normal;
  text-shadow: 1px 1px 3px black;
  top: 72px;
  transition: transform 800ms ease;
}
#player-1-action {
  left: 190px;
}
#player-2-action {
  right: 190px;
}
.holeCard {
  flex: 1;
}


.hole {
  /* position: relative; */
  width: 120px;
  height: 100px;
  z-index: 4;
  display: flex;
}

#holeOne {
  margin-left: 60px;
  float:left;
}

#community {
  box-sizing: border-box;
  border: 2px solid darkgreen;
  /* border-radius: 0.5rem; */
  width: 300px;
  height: 100px;
  margin-left: 150px;
  float:left;
  display: flex;
}

#bet {
  margin-left: 440px;
  margin-top: 10px;
  font-size: 20px;
  color: #F1D804;
}
.commCard {
  flex: 1;
}

#holeTwo {
margin-left: 150px;
float:left;
margin-right: 60px;
}

#playerAlign {
  width: 960px;
  height: 80px;
  margin-top: -55px;
}

.player {
  position: relative;
  box-sizing: border-box;
  height: 80px;
  width: 160px;
  border: 2px solid yellow;
  z-index: 1;
  color: #fff;
  font-family: Helvetica;
  text-align: center;
}
#player-1 {
  z-index: 12;
  margin-top: -55px;
  margin-left: 40px;
  background: rgb(163,153,153);
  background: linear-gradient(202deg, rgba(163,153,153,1) 11%, rgba(56,55,55,1) 54%, rgba(38,37,37,1) 88%);
  float: left;
}

#player-2 {
  margin-left: 560px;
  margin-top: -55px;
  background: rgb(163,153,153);
  background: linear-gradient(202deg, rgba(163,153,153,1) 11%, rgba(56,55,55,1) 54%, rgba(38,37,37,1) 88%);
  float: left;
}
@keyframes throb {
  50% {
    text-shadow: 0px 0px 12px rgb(136, 136, 136)
  }
}
.player-action {
  opacity: 0;
  transition: all 500ms ease;
}
#winner-message {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Bevan', cursive;
  text-shadow: 1px 1px 3px black;
  z-index:10;
  margin-top: 115px;
  font-size: 1.3rem;
  display: none;
}
#loser-message {
  position: absolute;
  width: 100vw;
  color: white;
  text-align: center;
  font-family: 'Bevan', cursive;
  text-shadow: 1px 1px 3px black;
  z-index:10;
  margin-top: 460px;
  font-size: 0.85rem;
  opacity: 0.7;
  /* display: none; */
}
#boardWrite {
  position: relative;
  font-size: 24px;
  color: #F1D804;
  line-height: 12px;
  letter-spacing: 2.1px;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin-left: 330px;
  /* margin-top: 30px; */
  width: 300px;
  /* height: 120px; */
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
}
button {
  cursor: pointer;
  outline: none;
}
button.action:disabled {
  cursor: default;
  color:gray;
  border-style: outset !important;
}
button.action:active {
  border: inset rgb(153, 153, 153);
  transform: scale(0.97);
}
#new-game-button {
  float:left;
  position: absolute;
  left:8px;
  background: lightgrey;
  display:none;
}
#new-hand {
  display: none;
}
#actionButtons {
  position: relative;
  border: outset rgb(163,153,153);
  border-radius: 6px;
  transition: transform 24ms ease;
  box-sizing: border-box;
  margin: 100px auto 0 auto;
  margin-top:3%;
  padding-top:0;
  text-align: center;
  background: #383737;
  border: 2px solid yellow;
  padding: 5px;
  width: 700px;
  height: 50px;
  min-height: 50px;
  opacity: 1;
  transition: all 200ms ease;
}
.off-to-bottom {
  margin-top: 200px !important;
  opacity: 0 !important;
}
.post-game-button {
  margin-left:auto;
  margin-right: auto;
}
.action {
  background: rgb(163,153,153);
  background: linear-gradient(202deg, rgba(163,153,153,1) 11%, rgba(56,55,55,1) 54%, rgba(38,37,37,1) 88%);
  text-align: center;
  width: 100px;
  height: 25px;
  color: #fff;
  margin: 5px;
}

#funds {
  width: 50px;
  height:25px;
  padding-left: 5px;
  margin-right: 10px;
}

#boardWriteMobile {
  font-family: 'Sawarabi Mincho', sans-serif;
  color: #F1D804;
  display: none;
}
/* #funds, #check, #call, #raise, #allIn, #fold {
  display: none;
} */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* @media screen and (min-width: 768px) and (max-width: 1024px) { */

  #container {
    padding-top: 60px;
  }

  #table {
    border: 8px solid #F1D804;;
    width: 745px;
    height: 375px;
  }
  #winner-message {
    margin-top: 84px;
  }
  #loser-message {
    margin-top: 360px;
  }
  #cards {
    width: 725px;
    height: 75px;
    margin-top: 120px;
  }

  .hole {
    width: 90px;
    height: 75px;
    z-index: 4;
    display: flex;
    
  }

  #holeOne {
    margin-left: 45px;
}

  #community {
      width: 225px;
      height: 75px;
      margin-left: 115px;
      float:left;
      display: flex;
    }

  #holeTwo {
    margin-left: 115px;
    float:left;
    margin-right: 45px;
    }

    #playerAlign {
      width: 725px;
      height: 60px;
      margin-top: -40px;
    }

    .player {
      height: 60px;
      width: 120px;
      font-size: 12px;
    }

    #player-1 {
      margin-top: -40px;
      margin-left: 30px;
    }

    #player-2 {
      margin-left: 425px;
      margin-top: -40px;
    }

    #boardWrite {
      display: none;
    }

    #boardWriteMobile {
      font-size: 18px;
      line-height: 9px;
      letter-spacing: 1.6px;
      margin-left: 130px;
      margin-top: 80px;
      width: 525px;
      height: 30px;
      display: inline-block;
    }

    #pot, #bet {
      margin-left: 330px;
      margin-top: 7px;
      font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

  .header {
    height: 10px;
    padding: 8px;
  }

  #container {
    padding-top: 10px;
    height: 424px;
  }

  #table {
    border: 6px solid #F1D804;;
    width: 565px;
    height: 285px;
  }

  #cards {
    width: 585px;
    height: 75px;
    margin-top: 190px;
  }

  .hole {
    width: 90px;
    height: 75px;
    display: flex;
  }

  #holeOne {
    margin-left: 35px;
}

  #community {
      width: 225px;
      height: 75px;
      margin-left: 40px;
      float:left;
      display: flex;
      margin-top: -140px;
    }

  #holeTwo {
    margin-left: 305px;
    float:left;
    }

    #playerAlign {
      width: 725px;
      height: 60px;
      margin-top: -40px;
    }

    .player {
      height: 60px;
      width: 120px;
      font-size: 12px;
    }

    #player-1 {
      margin-top: -130px;
      margin-left: -570px;
    }

    #player-2 {
      margin-left: -155px;
      margin-top: -130px;
    }

    #boardWrite {
      display: none;
    }

    #boardWriteMobile {
      font-size: 18px;
      line-height: 9px;
      letter-spacing: 1.6px;
      margin-left: 40px;
      margin-top: 15px;
      width: 525px;
      height: 30px;
      display: inline-block;
    }

    #pot {
      margin-left: 250px;
      margin-top: -130px;
      font-size: 15px;
    }

    #bet {
      margin-left: 250px;
      margin-top: 10px;
      font-size: 15px;
    }

    .actionButtons {
      width: 600px;
      margin-left: -25px;
      margin-top: 10px;
    }

    .action {
      background: rgb(163,153,153);
      background: linear-gradient(202deg, rgba(163,153,153,1) 11%, rgba(56,55,55,1) 54%, rgba(38,37,37,1) 88%);
      text-align: center;
      width: 80px;
      height: 25px;
      color: #fff;
    }

    #funds {
      width: 160px;
    }
}
